services:
  app:
    build: ../part5
    container_name: my_app
    networks:
      - internal_net

  nginx:
    image: nginx:latest
    container_name: my_nginx
    ports:
      - "80:8080"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - app
    networks:
      - internal_net

networks:
  internal_net:
    driver: bridge